@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@media only screen and (max-width: 1023px) {
  .container {
    margin-inline: 1rem;
  }
}

:root {
  --link-hover: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-hover: #c9c9c9;
  }
}

a:hover {
  color: var(--link-hover);
}
